//-------------------------------------------------------------services page--// 
.services-grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 2fr 2fr 4fr 4fr 4fr;
    grid-template-rows: 150px 150px auto auto auto;
//----------------------------------------------------------services heading--//
    .services-heading {
      grid-column: 1 / span 8;
      grid-row: 2 / span 2;
      height: 150px;
      opacity: 0;
      -moz-transition: all 700ms ease-out;
      -webkit-transition: all 700ms ease-out;
      -o-transition: all 700ms ease-out;
      transition: all 700ms ease-out;
      -moz-transform: translate3d(0px, 200px, 0px);
      -webkit-transform: translate3d(0px, 200px, 0px);
      -o-transform: translate(0px, 200px);
      -ms-transform: translate(0px, 200px);
      transform: translate3d(0px, 200px, 0px);
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      h3 {
        font-weight: 700;
        text-transform: uppercase;
      }
      h3:first-child {
        color: $brown;
        font-size: 3em;
        margin: 0em 2em;
      }
      h3:nth-child(2) {
        color: $red;
        font-size: 2em;
        margin: 0em 8em;
      }
  }
  .services-heading.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);  
  }
    .services-encapsulating-left {
        grid-column: 1 / span 2;
        grid-row: 4 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-encapsulating-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);      
    }
    .services-encapsulating-right {
        grid-column: 2 / span 2;
        grid-row: 5 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-encapsulating-right.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);   
    }
    .services-printing-left {
        grid-column: 6 / span 2;
        grid-row: 4 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-printing-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);     
    }
    .services-printing-right {
        grid-column: 7 / span 2;
        grid-row: 5 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        margin-bottom: 10em;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-printing-right.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);  
    }
    .services-alteration-left {
        grid-column: 1 / span 2;
        grid-row: 8 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;      
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-alteration-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);    
    }
    .services-alteration-right {
        grid-column: 2 / span 2;
        grid-row: 9 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        margin-bottom: 10em;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-alteration-right.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);   
    }
    .services-packaging-left {
        grid-column: 6 / span 2;
        grid-row: 8 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-packaging-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);   
    }
    .services-packaging-right {
        grid-column: 7 / span 2;
        grid-row: 9 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        margin-bottom: 10em;
         opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-packaging-right.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);  
    }
    .services-screen-left {
        grid-column: 1 / span 2;
        grid-row: 12 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-screen-left.in-view {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px); 
    }
    .services-screen-right {
        grid-column: 2 / span 2;
        grid-row: 13 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-screen-right.in-view {
      opacity: 1;
      -moz-transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate3d(0px, 0px, 0px);  
    }
    .services-stamp-left {
        grid-column: 6 / span 2;
        grid-row: 12 / span 3;
        z-index: 1;
        background-color: $red;
        height: 400px;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .services-stamp-left.in-view {
      opacity: 1;
      -moz-transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
    .services-stamp-right {
        grid-column: 7 / span 2;
        grid-row: 13 / span 3;
        z-index: 1;
        background-color: $brown;
        height: 400px;
        margin-bottom: 10em;
        opacity: 0;
        -moz-transition: all 700ms ease-out;
        -webkit-transition: all 700ms ease-out;
        -o-transition: all 700ms ease-out;
        transition: all 700ms ease-out;
        -moz-transform: translate3d(0px, 200px, 0px);
        -webkit-transform: translate3d(0px, 200px, 0px);
        -o-transform: translate(0px, 200px);
        -ms-transform: translate(0px, 200px);
        transform: translate3d(0px, 200px, 0px);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        h3,p {
            margin: 0;
            padding: 0;
        }
        h3 {
            color: $red;
            text-transform: uppercase;
            font-size: 2em;
            padding: 2em 2em 0 2em;
        }
        p {
            color: white;
            padding: 1em 4em 1em 4em;
        }
        button {
          font-size: 1em;
          position: relative;
          padding: 0.75em 1.5em;
          float: right;
          margin: 1em 4.5em;
          color: white;
          border: solid 2px $red;
          outline: 0;
          overflow:hidden;
          background: $brown;
          z-index: 1;
          cursor: pointer;
          transition:         0.3s ease-in;
          -o-transition:      0.3s ease-in;
          -ms-transition:     0.3s ease-in;
          -moz-transition:    0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          font-size: 1em;
          font-weight: 700;
        }
        .fill:hover {
          color: white;
        }
        .fill:before {
          content: "";
          position: absolute;
          background: $red;
          bottom: 0;
          left: 0;
          right: 0;
          top: 100%;
          z-index: -1;
          -webkit-transition: top 0.1s ease-in;
        }
        .fill:hover:before {
          top: 0;
        }
    }
    .services-stamp-right.in-view {
      opacity: 1;
      -moz-transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate3d(0px, 0px, 0px);
    }
}
//------------------------------------------------services page optimisation--//
@media (min-width: 720px) and (max-width: 1024px) {
  .services-grid {
    grid-template-columns: 4fr 4fr 4fr 4fr 4fr 4fr;
    grid-template-rows: 150px auto auto auto auto;
    .services-heading {
      h3:first-child {
        font-size: 2em;
      }
      h3:nth-child(2) {
        margin: 0 0 0 7em;
        font-size: 1.5em;
      }
    }
    .services-encapsulating-left {
      grid-column: 1 / span 3;
      grid-row: 4 / span 1;
      height: auto;
    }
    .services-encapsulating-right {
      grid-column: 3 / span 5;
      grid-row: 4 / span 1;
      height: auto;
      margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
    .services-printing-left {
      grid-column: 5 / span 2;
      grid-row: 5 / span 1;
      height: auto;
    }
    .services-printing-right {
     grid-column: 1 /span 4; 
     grid-row: 5 / span 1;
     height: auto;
     margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
    .services-alteration-left {
      grid-column: 1 / span 3;
      grid-row: 6 / span 1;
      height: auto;
    }
    .services-alteration-right {
      grid-column: 3 / span 4;
      grid-row: 6 / span 1;
      height: auto;
      margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
    .services-packaging-left {
      grid-column: 5 /span 2;
      grid-row: 7 / span 1;
      height: auto;
    }
    .services-packaging-right {
      grid-column: 1 / span 4;
      grid-row: 7 / span 1;
      height: auto;
      margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
    .services-screen-left {
      grid-column: 1 / span 3;
      grid-row: 8 / span 1;
      height: auto;
    }
    .services-screen-right {
      grid-column: 3 /span 4;
      grid-row: 8 / span 1;
      height: auto;
      margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
    .services-stamp-left {
      grid-column: 5 /span 2;
      grid-row: 9 / span 1;
      height: auto;
    }
    .services-stamp-right {
      grid-column: 1 / span 4;
      grid-row: 9 / span 1;
      height: auto;
      margin-bottom: 0;
      h3 {
        font-size: 1.5em;
        padding: 0.5em;
      }
    }
  }
}